@*@model IEnumerable<MVC_WebCargoRequestHandler.Models.CargoForm>*@
@model PagedList.IPagedList<MVC_WebCargoRequestHandler.Models.CargoForm>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Carriage Forms";
}
<br />
<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>


@using (Html.BeginForm())
{
    <div class="col-lg-4">
        <div class="input-group">
            <input type="search" class="form-control" id="searchString" name="searchString" placeholder="Заказчик или способ связи" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="search">Поиск</button>
            </span>
        </div>
        <br />
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Дата пост. заявки", "Index", new { sortOrder = ViewBag.ReceiptDateSortParm })
        </th>
        <th>
            @Html.ActionLink("Способ связи", "Index", new { sortOrder = ViewBag.CommunicationIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Заказчик", "Index", new { sortOrder = ViewBag.CustomerSortParm })
        </th>
        <th>
            @Html.ActionLink("Описание груза", "Index", new { sortOrder = ViewBag.CargoDescriptionSortParm })
        </th>
        <th>
            @Html.ActionLink("ГНГ/ЕТСНГ", "Index", new { sortOrder = ViewBag.CargoCodeSortParm })
        </th>
        <th>
            @Html.ActionLink("Описание груза", "Index", new { sortOrder = ViewBag.DepartureSortParm })
        </th>
        <th>
            @Html.ActionLink("Место назначения", "Index", new { sortOrder = ViewBag.DestinationSortParm })
        </th>
        <th>
            @Html.ActionLink("Направление", "Index", new { sortOrder = ViewBag.DirectionSortParm })
        </th>
        <th>
            @Html.ActionLink("Тип ПС", "Index", new { sortOrder = ViewBag.RollingStockNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Стоимость", "Index", new { sortOrder = ViewBag.CostSortParm })
        </th>
        <th>
            @Html.ActionLink("Валюта", "Index", new { sortOrder = ViewBag.CurrencySortParm })
        </th>
        <th>
            @Html.ActionLink("Вид сообщения", "Index", new { sortOrder = ViewBag.TrafficClassificationSortParm })
        </th>
        <th>
            @Html.ActionLink("Дата ответа", "Index", new { sortOrder = ViewBag.ResponseDateSortParm })
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Note)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Residency.ResidencyName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunicationMethod.CommunicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction.DirectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RollingStockType.RollingStockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currencies.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrafficClassification.TrafficClassificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Residency.ResidencyName)
                </td>*@
            <td>
                @Html.ActionLink("Правка", "Edit", new { id = item.CargoFormID })
                @Html.ActionLink("Детали", "Details", new { id = item.CargoFormID })
                @Html.ActionLink("Удалить", "Delete", new { id = item.CargoFormID })
            </td>
        </tr>
    }

</table>
@*Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))