@model IEnumerable<MVC_WebCargoRequestHandler.Models.CommunicationMethod>

@{
    ViewBag.Title = "Виды связи";
}

@*<h2>Index</h2>*@
<br />

<p>
    @Html.ActionLink("Добавить новый вид связи", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationName)
        </td>
        <td>
            @Html.ActionLink("Правка", "Edit", new { id=item.CommunicationID }) |

            @Html.ActionLink("Удалить", "Delete", new { id=item.CommunicationID })
        </td>
    </tr>
}

</table>
